BasedOnStyle:  LLVM
---
Language:        Cpp
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
BinPackParameters: true
IndentWidth: 4
SpacesInParentheses: true
BreakConstructorInitializersBeforeComma: true
PointerAlignment: Left
